

a {
    position: relative;
    background-color: rgb(43, 43, 184);
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}
a:hover
{
    width: 300px;
}
a::before
{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    transition: 0.5s;
}

a:hover::before
{
    transform: rotate(45deg) translate(90px, -90px);
}



a span
{
    visibility: hidden;
    opacity: 0;
}

a:hover span
{
    visibility: visible;
    opacity: 1;
    transition-duration: 1s
}


.recherche
{
    padding: 8px;
    width: 180px;
    height: 20px;
    
    line-height: 2;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}