nav {
    
  position: relative;
  width: 590px;
  height: 50px;
  border-radius: 8px;
  font-size: 0;
  margin: auto;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 70px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #064a93;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #0062ff;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #e100ff;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 100px;
  left: 340px;
  background-color: #ff0040;
}
nav .start-portefolio, a:nth-child(5):hover~.animation {
  width: 70px;
  left: 470px;
  background-color: #ff8000;
}

body {
  font-size: 12px;
  font-family: 'arcadeclassicregular';
  background-image:url(../Media/verglas.png);
  background-position-x: center;
  animation: animatebackground 12s linear infinite;
}
@keyframes animatebackground
{
  0%{
      background-position: 700px 0 ;
  }
  100%{
      background-position:700px 700px ;
  }
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 8px 8px 16px #0062ff;
  font-family: 'arcadeclassicregular';
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'arcadeclassicregular';
    font-size: 16px;
}

span {
    color: #0062ff;
}
@font-face {
  font-family: 'arcadeclassicregular';
  src: url('../font/arcadeclassic-webfont.woff2') format('woff2'),
       url('../font/arcadeclassic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.log{
  font-family: 'arcadeclassicregular';
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  margin-right: 1em;
  border: none;
  outline: none;
  color:rgb(255, 255, 255) ;
  background: #0062ff;
  padding: 11px 0px;
  width: 100px;
  border-radius: 4px;
  font-weight: 50;
  box-shadow: 0 7px 0 rgb(255, 255, 255);
  max-height: 25px;
}
.log:hover{
cursor: pointer;
}
.log:active{
border: solid 1px rgb(0, 0, 0);
background-color:rgb(255, 255, 255); 
color:rgb(0, 0, 0) ;
margin-top: 7px;
box-shadow: 0 0 0 rgb(160,160,160); 
}
.log a{
text-decoration: none;
color: white;
font-family: 'arcadeclassicregular';
width: 100px;
}
.connect{
display: flex;
position: absolute;
top: 7px;
right: 0;
}
