

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  /* height: 80vh; */
  width: 300px;
  z-index: 9994;
  padding: 0 15px;
  background: #8e8e8e99;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  transition: all ease-in-out 0.3s;
}

#main {
  margin-left: 100px;
}

@media (max-width: 1999px) { /* taille pour on/off le boutou bleu */ 
  .header {
    left: -3000px;
  }

  #main {
    margin-left: 0;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #5c0303;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}



.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #5c0303;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #5c0303;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}


.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}


/* Navigation Menu */

/* Mobile Navigation */
.mobile-nav-toggle {
  position: absolute;
  bottom: 15px;
  left: 115px; /*bouton emplacement */
  z-index: 9999;
  border: 0;
  font-size: 24px;
  outline: none !important;
  background-color: #a4161699;
  color: #fff;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  outline:none;

  /* transition: all 0.4s; */
}
.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .header {
  left: 0;
}
.mobile-nav-toggle:active {
  border: solid 1px #a41616;
    background-color:rgb(255, 255, 255); 
    color:#a41616 ;
    margin-top: 17px;
    box-shadow: 0 0 0 rgb(255, 255, 255); 
}





.messagerie_style
{
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
  background: #d2d0d099;
  color: #5c0303; 
  width: 315px;
  padding: 5px;
}

/* faire spawn la bar de scrool en bas */
.messagerie_style{ 
  scroll-snap-type: y mandatory;
}
#messages
{
  display: flex;
  flex-direction: column-reverse;
  padding: 5px 0 5px;
  scroll-snap-align: end;
}
/* faire spawn la bar de scrool en bas */



/* .affichage_chat
{

} */
.formulaire_message
{
  position: fixed;
  height:170px;
  width: 315px;
  bottom: 0px;
  background-color: #8e8e8e99;
  padding: 5px;
  margin-left: -5px;
}



.message{
  background-color: #a4161699;
  color: rgb(255, 255, 255);
  margin: 20px;
  padding: 5px;
  border-radius: 20px;
  letter-spacing: 3px;
  font-size: 10px;
}

#zone_m{
  position: fixed;
  left: 20px;
  bottom: 10px;
}
.zone_button
{
    border: none;
    outline:none;
    color:rgb(255, 255, 255) ;
    background: #a4161699;
    padding: 11px 0px;
    width: 100px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0 7px 0 rgb(255, 255, 255);
}
.zone_button:hover{
    cursor: pointer;
}
.zone_button:active{
    border: solid 1px #a4161699;
    background-color:rgb(255, 255, 255); 
    color:#a4161699 ;
    margin-top: 17px;
    box-shadow: 0 0 0 rgb(160,160,160); 
}
.zone_pseudo{
  background-color: #a4161699;
  color: white;
  font-family: 'arcadeclassicregular';
  border: white solid 1.5px;
  height: 20px;
  border-radius: 8px;
}
.zone_pseudo::placeholder{
  color: white;
  font-family: 'arcadeclassicregular';
}
.zone_message{
  background-color: #a4161699;
  color: white;
  font-family: 'arcadeclassicregular';
  height: 85px;
  border-radius: 8px;
  width: 70%;

}
.zone_message::placeholder{
  box-decoration-break: none;
  color: white;
  font-family: 'arcadeclassicregular';
}
@font-face {
  font-family: 'arcadeclassicregular';
  src: url('../font/arcadeclassic-webfont.woff2') format('woff2'),
       url('../font/arcadeclassic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

