
.carte_avatar
{
	background-color: #7b7b7b85 ;
	border-radius: 15px;
  margin: 100px 0 0 0;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding: 20px 0 20px 0;
	position: relative;
	width: 100%;
  display: flex;

  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
  
  margin: 50px auto 20px auto;
  width: 80%;
  height: 300px;
}
.carte_avatar div .button_creation{
  position: relative;
  bottom: 20px;
  left: 30px;




}

.button_creation
{
  font-family: 'arcadeclassicregular';
    border: none;
    outline:none;
    color:rgb(0, 0, 0) ;
    background: rgb(255, 255, 255);
    padding: 11px 0px;
    width: 150px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0 7px 0 rgb(160,160,160);
    position: absolute;
    right: 20px;
    bottom: 35px;
}
.button_creation:hover{
    cursor: pointer;
}
.button_creation:active{
    border: solid 1px black;
    background-color:rgb(141, 141, 141); 
    color:rgb(0, 0, 0) ;
    margin-top: 7px;
  }



.position_button_dps
  {
    position: absolute;
    bottom: 0px;
    right: 300px;
  }
.position_button
{
  position: absolute;
  bottom: 0px;
  right: 50px;
}
.position_button_enregister
{
  position: absolute;
  left: 00px;
  bottom: 0px;
}
.button_enregister_color
{
  background: rgb(10, 119, 34);
}



.carte_avatar_img, .carte_avatar_img_default
{
  width: 270px;
  height: 250px;
  background-position: 50% 0px;
  transform: scale(0.8);
  border-radius: 10px;
}



.carte_load_avatar
{
  max-height: 120px;
  max-width: 50%;
}
.carte_load_avatar div
{
  transform: scale(0.5);
}
.stuff_avatar
{
  transform: scale(4);
  position: absolute;
  top: 80px;
  left: 800px;
}